.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 2.5rem;
  background-color: lightgray;
}

.nav__link {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
}

.nav__link.nav__link--active {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav__link svg {
  height: 2rem;
  width: 2rem;
}
